<html>
    <body>
        Welcome to dashBoard!<br><br>
        <button type="button" onclick="window.location.href='addPayee.html'">Add Payee</button><br><br>
        <button type="button" onclick="window.location.href='removePayee.html'">Remove Payee</button><br><br>
        <button type="button" onclick="window.location.href='moneyTransfer.html'">Transfer Money</button><br><br>
        <button type="button" onclick="window.location.href='depositMoney.html'">Deposit Money</button><br><br>
    </body>
</html>